@import 'colors';
@import 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $lightGreen;
}

.title h1 {
  font-family: 'Pacifico', cursive;
  color: $pink;
  text-shadow: 2.5px 1px $darkRed;
}

.centerContainer {
  position: fixed;
  max-width: 40vw;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;

  @include breakpoint-down('small') {
    max-width: 90vw;
    width: 90vw;
  }

  .title {
    width: 100%;
    animation: rotate 6s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
    @keyframes rotate {
      0% {
        transform: rotate(2deg);
      }
      50% {
        transform: rotate(-2deg);
      }
      100% {
        transform: rotate(2deg);
      }
    }
  }

  menu {
    width: 100%;
    margin-top: 1.5rem;

    .buttons {
      display: flex;
      width: 100%;
      height: 6rem;
      border: 0.6rem $green solid;
      background: linear-gradient(to bottom right, $lightPink, $pink);
      border-radius: 2rem;
      justify-content: center;
      align-items: center;
      font-family: 'Pacifico', cursive;
      color: $white;
      font-size: 2.25rem;
      cursor: pointer;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.4s all;

      &:hover {
        background: linear-gradient(to top left, $lightPink, $pink);
        font-size: 2.5rem;
        transform: rotate(-1deg);
      }

      /*&:nth-child(even) { n gostei do resultado
        &:hover {
          transform: rotate(1deg);
        }
      }*/

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}

//Player menu

.players {
  input[type='text'] {
    outline: none;
    background-color: transparent;
    border: 2px solid $white;
    padding: 0.5rem 1rem;
    border-radius: 50px;
    font-size: 1.25rem;
    color: $white;
    font-family: 'Montserrat', sans-serif;
  }

  .buttonHolder {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;

    button {
      width: 80%;
      outline: none;
      height: 3.75rem;
      font-size: 2rem;
      border: 2px solid $darkRed;
      color: $white;
      font-family: 'Pacifico', cursive;
      border-radius: 50px;
      cursor: pointer;
      background-color: $green;
      transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s all;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .icons {
    span {
      cursor: pointer;
      font-size: 3rem;
      &:not(:last-child) {
        margin-right: 0.25rem;
      }
    }

    .selected {
      opacity: 1;

      &:nth-child(even) {
        color: red;
      }
      &:nth-child(odd) {
        color: black;
      }
    }
  }

  .disabled {
    opacity: 0.6;
  }
}
