@import 'colors';

.timer {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;

  #time {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    padding-left: 0.5rem;
    color: $white;
  }
}
